<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>
  <div id="overlay">
    <ul>
      <li><a href="/lassio">Home</a></li>
      <li><a href="/lassio/our-services">Our Services</a></li>
      <li><a href="/lassio/back-office">Back Office</a></li>
      <li><a href="/lassio/frontline">Frontline</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
  </div>
